@font-face {
    font-family: "CormorantB";
    src:url('../assets/fonts/CormorantUnicase-Bold.ttf');
}

@font-face {
    font-family: "NotoSerifB";
    src:url('../assets/fonts/NotoSerif-Bold.ttf');
}

@font-face {
    font-family: "NotoSerifB";
    src:url('../assets/fonts/NotoSerif-Bold.ttf');
}

@font-face {
    font-family: "NotoSerifR";
    src:url('../assets/fonts/NotoSerif-Regular.ttf');
}

:root{
    --menu: #363F4B;
    --ui: #33363B;
    --grey: #585C62;
    --lightgrey: #8F9BAE;
    --red: #7B3E3E;
    --lightbrown: #876C47;
    --brown: #785C32;
    --lipa: #C7AA7F;

    --puregold: linear-gradient(74deg,
                                    #C7AA7F,
                                    #CCAA79,
                                    #A98959,
                                    #E5CCA8,
                                    #AA8A59,
                                    #F0DBBC);
    --darkgold: linear-gradient(74deg,
                                    #9F8866,
                                    #A38861,
                                    #876E47,
                                    #B7A386,
                                    #886E47,
                                    #C0AF96);
}


body{
    overflow-x: hidden;
}

h1{
    font-size: 32px;
    font-family: "NotoSerifB";
}

h2{
    font-size: 28px;
    font-family: "NotoSerifB";
}

h3 {
    font-size: 24px;
    font-family: "NotoSerifB";
}

h4{
    font-size: 22px;
    font-family: "NotoSerifB";
}
p {
    font-size: 22px;
    font-family: "NotoSerifR";
    line-height: 30px;
}






.container{
    padding-left: 380px;
    margin: 0 auto;
}

.sqwere{
    position: absolute;
    z-index: 3;
}


/* Базовая кнопка */
.btn {
    position: fixed;
    top: 40px;
    width: 56px;
    height: 56px;
    background: var(--ui);
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    z-index: 10000;
}

/* Левая кнопка */
.btn-back {
    left: 0;
}

/* Правая кнопка */
.btn-right {
    right: 0;
}

#marksBtn{
 bottom: 40px;
 top: auto;
}

#pathBtn{
    bottom: 112px;
    top: auto;
}
   


/* Градиентная обводка */
.btn {
    border-image: var(--darkgold);
    border-image-slice: 1;
}

.btn:hover {
    background: var(--grey);
}

.btn:active {
    background: var(--lightgrey);
}


.btn:active {
    transform: scale(0.95);
}